*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  background-color: #1f1f2f;
  color: white;
}

.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 10px;
}

.water-back{
  background-color: #4b495f;
  padding: 5px 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
}

.square-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.move-detection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.left , .right {
  height: 50px;
  width: 120px;
  background-color: #4b495f;  
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}